{% extends 'website/base.html' %} 
{% load static %}
{% block content %}
<div class = "about">
    <div>
        <h1>A propos</h1> 
        <h2>Une petite présentation de notre site !</h2>
    </div>
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, delectus ipsum voluptatibus enim at, doloremque accusantium facilis magni libero cupiditate debitis natus porro ipsa quisquam fugiat minus est corrupti quas! Minima aliquid quisquam sed reiciendis rem. Quidem ea exercitationem quibusdam, dolore qui reprehenderit blanditiis ducimus cupiditate rerum dolorem mollitia similique rem veniam temporibus facere eum recusandae iusto! Aut vero cupiditate nisi ab labore voluptas culpa voluptatem, tempora atque tempore adipisci, natus assumenda illo? Dolorem quia autem nulla sit facere, sunt quaerat, ut sed in enim, aperiam aspernatur ipsam minus temporibus. Nostrum, debitis. Excepturi deleniti in quas! Dignissimos, accusantium, id animi esse voluptates cum odio iure ducimus eius facilis modi soluta, blanditiis aperiam vero officia omnis at optio reprehenderit nostrum cupiditate nihil quod! Eum in illum?
        </p>
    </section>
</div>
{% endblock %}