{% load static %}

<html>
    <head>
        <title>Estimonsbien</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <figure>
                <a href="{% url 'welcome' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>
            </figure>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'estimate' %}">Estimer un bien</a></li>
                    <li><a href="{% url 'consult' %}">Consulter mes estimations</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'about' %}">A propos</a></li>
                    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'about' %}">A propos</a></li>
                    <li><a href="{% url 'login' %}">Se connecter</a></li>
                {% endif %}
            </ul>      
        </nav>  
    </div>
        {% block content %}{% endblock content %}
    <footer>
        {%  if user.is_authenticated %}
            <p>Vous êtes connecté en tant que {{ user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
            <p>Voulez-vous <a href="{% url 'password_change' %}">changer votre mot de passe ? </a></p><br>
        {% else %}
            <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
        {% endif %}
    </footer>
    </body>
</html>
